html, body {
    height:470px;
    width: 320px;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Whitney SSm A','Whitney SSm B','Tahoma','sans-serif';
    font-size: 12px;
    overflow: hidden;
}
div{
  margin:0;
  padding: 0;
}

.selectCookie{
  position: relative;
  left:50px;
}

.row_direction{
  display:flex;
  flex-direction: row;
}

.popup-content{
  width: inherit;
  box-sizing: border-box;
  text-align: center;
}

.title{
  text-align: center;
  background-color: #7ec2ed;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

#cookie_buttons{
  display: flex;
  flex-direction: row;
  margin: 0px 5px;
  padding: 0px;
}

.buttons{
  margin:0px 1.5px;
  text-align: center;
  color: #23282c;
  font-family:'Whitney SSm A','Whitney SSm B','Tahoma','sans-serif';
  font-weight: bold;
  border-radius: 2px 2px 0px 0px;
  background-color: #7ec2ed;
  padding: 4px;
  width: 100%;
}

.button{
  margin:2px;
  text-align: center;
  padding:1px auto;
  background-color: #7ec2ed;
  color: #23282c;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}


.buttons:nth-child(1) {
  margin-left: 0;
}

.buttons:nth-last-child(1) {
  margin-right: 0;
}

#cookies{
  display: flex;
  flex-direction: row;
  height: 90px;
  margin-top:0;
  margin: 0px 5px;
  padding:5px;
  box-sizing: border-box;
  border-radius: 0px 0px 3px 3px;
  background-color:rgba(0,0,0,0.01);
  border: 1px solid #ddd;
  border-top: 1px solid #7ec2ed;
  text-align: left;
  word-break: break-all;
}

#t_container{
  height: 250px;
  margin-top:15px;
  padding: 0px;
}

#f_container{
  margin:0px;
  padding: 0px;
}

#tracking{
  height: 65%;
  margin: 5px;
  border-radius: 3px;
  padding:10px;
  background-color:rgba(0,0,0,0.01);
  border: 1px solid #ddd;
  text-align: left;
  box-sizing: content-box;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

#listCookies{
  word-break: break-all;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}
div{
  margin:0px;
  padding: 0px;
}

input{
  margin:5px;
}

#debugTable{
  margin:10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e9e8e8;
}


#main{
  background-color: #EEE9E5;
}

#main2{
  background-color: #f1f1f1;

}



#c_container{
  display: flex;
  flex-direction: row;
  background-color:#EEE9E5;
  grid-column: 1/5;
  grid-row:1/2;
  padding:10px;
  box-sizing: border-box;
}



#flags{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cookieList{
  background-color: rgba(0,0,0,0.05);
  border-radius: 3px;
  padding: 5px;
  text-align: left;
}

.h{
  background-color: #7ec2ed;color:#23282c;width: 100%;font-family:'Helvetica';font-weight: bolder;font-size: 14px;
}




div>i{
  pointer-events: none;
}



.buttons:hover{
  cursor: pointer;
}


.extra{
  display: inline-block;
  padding:5px 20px;
}

.button:hover{
  cursor: pointer;
}